<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{survey.name}}
            <span class="pull-right label" ng-class="ctrl.get_label()['class']">
            <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp{{ctrl.get_label()['label']}}
            </span>
        </h3>
    </div>
    <div class="panel-body survey-panel" ng-class="{saving: saving}">
        <p ng-show="showComments">{{survey.comments}}</p>
        <span ng-show="saving" class="pull-right label ng-binding label-warning">
            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> Saving
	</span>
        <form>
            <div class="row">
                <div ng-repeat="field in survey.fields" class="form-group" ng-class="{'col-md-12': field.field_type=='location', 'col-md-6': field.field_type!='location'}">
                    <label for="">{{field.label}}</label>
                    <button ng-if="survey.is_mutable" ng-click="ctrl.delete_field(field)" class="btn btn-xs btn-danger pull-right">Delete field</button>
                    <!-- Text -->
                    <input ng-if="field.field_type=='text'" ng-model="searchResult.field_values[field.label]" type="text" class="form-control" id="">
                    <!-- Select -->
                    <select ng-if="field.field_type=='select'" ng-model="searchResult.field_values[field.label]" class="form-control" ng-options="option for option in field.options"></select>
                    <!-- Radio -->
                    <div ng-if="field.field_type=='radio'">
                        <label class="radio-inline" ng-repeat="option in field.options">
                            <input type="radio" ng-model="searchResult.field_values[field.label]" value="{{option}}"> {{option}}
                        </label>
                    </div>
                    <!-- Location -->
                    <script type="text/ng-template" id="searchbox.tpl.html">
                        <input id="pac-input" class="pac-controls" type="text" placeholder="Search">
                    </script>
                    <div ng-if="field.field_type=='location'" ng-controller="MapController" ng-init="init(searchResult, field.label)">
                        <ui-gmap-google-map center='ctrl.map.center' zoom='ctrl.map.zoom' draggable="true" style="height: 400px">
                            <ui-gmap-marker coords="ctrl.marker.coords" options="ctrl.marker.options" events="ctrl.marker.events" idkey="ctrl.marker.id">
                            <ui-gmap-search-box template="ctrl.searchbox.template" events="ctrl.searchbox.events" position="BOTTOM_RIGHT"></ui-gmap-search-box>
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Survey State</label>
                <select ng-model="searchResult.completion_state" class="form-control" ng-options="option for option in ['REVISIT', 'NOT_USABLE', 'DONE']">
                </select>
            </div>
            <button ng-click="ctrl.save_updates()" class="btn btn-primary pull-right">Save</button>
        </form>
    </div>
</div>

