<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">{{ctrl.survey.name}} ({{ctrl.survey.id_}})</div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li role="presentation" ui-sref-active="active"><a ui-sref="surveys.details.search-results.list({survey_id: $stateParams.survey_id})">Search Results</a></li>
                <li role="presentation" ui-sref-active="active"><a ui-sref="surveys.details.searches.list({survey_id: $stateParams.survey_id})">Searches</a></li>
                <li role="presentation" ui-sref-active="active"><a ui-sref="surveys.details.export-results({survey_id: $stateParams.survey_id})">Export Results</a></li>
                <li role="presentation" ng-if="extra_survey_nav_item" ui-sref-active="active"> 
                    <a ui-sref="{{extra_survey_nav_item.state}}">
                        {{extra_survey_nav_item.label}}
                    </a>
                </li>
            </ul>
            <div ui-view></div>
        </div>
    </div>
</div>
