<div class="container-fluid">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Create Survey</div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label for="nameInput">Name</label>
                        <input ng-model="ctrl.create_survey_form.name" type="text" class="form-control" id="nameInput" placeholder="Enter a name for the survey">
                    </div>
                    <div class="form-group">
                        <label for="commentsInput">Comments</label>
                        <input ng-model="ctrl.create_survey_form.comments" type="text" class="form-control" id="commentsInput" placeholder="Describe the survey">
                    </div>
                    <hr>
                    <h3> Add a field </h3>
                    <div class="form-group">
                        <label for="fieldLabelInput">Field label</label>
                        <input ng-model="ctrl.add_field_form.label" type="text" class="form-control" id="fieldInputLabel" placeholder="A label for the field">
                    </div>
                    <div class="form-group">
                        <label for="fieldTypeInput">Field type</label>
                        <select ng-model="ctrl.add_field_form.field_type" class="form-control" id="fieldTypeInput" ng-options="field_type.label for field_type in ctrl.field_types track by field_type.id">
                        </select>
                    </div>
                    <div ng-show="ctrl.should_show_options()" class="form-group">
                        <label for="fieldOptionsInput">Field Options</label>
                        <p class="help-block">Use a comma seperated list of options, example: "red,blue,green".</p>
                        <input ng-model="ctrl.add_field_form.options" type="text" class="form-control" id="fieldOptionsInput" placeholder="A comma-seperated list of options for the field">
                    </div>
                    <button ng-click="ctrl.add_field()" class="btn btn-default">Add field</button>
                    <hr>
                    <button ng-click="$state.go('surveys.list')" type="submit" class="btn btn-default">Cancel (back)</button>
                    <button ng-click="ctrl.create_survey()" class="btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create survey
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div ms-survey survey="ctrl.survey" ctrl="ctrl" show-comments="true"></div>
    </div>
</div>
